<div id="column-1" class="column">
  <div class="module clearfix">
    <h2>Get neighborhood SMS alerts:</h2>
    <p>Is that guy on the corner a drug dealer? Give us your phone number and location and receive texts from your neighbors when they notice safety threats or problems in your neighborhood.</p>
    
    <%= form_for :user, :url=>create_user_path, :html=>{:class=> "subscribe-form"} do |f|%>
      <%= f.label :phone, "Your Phone", :class=>"phone-label" %>
      <%= f.text_field :phone, :size=>10, :class=>"phone-input" %>
      
      <%= f.label :location, "Your Location", :class=>"location-label" %>
      <%= f.text_field :location, :size=>45, :class=>"location-input" %>
      
      <div class="location-help">Use the <strong>Find Me</strong> and we'll try to automatically find you.  Or type in an address or cross street and we'll try to find that.  Move around the marker to make your location more accurate.  <strong>We will never publish your address.</strong></div>
      
      <%= f.hidden_field :lat %><%= f.hidden_field :lon %>
      
      <%= f.submit "Sign Up!", :class=>"subscribe-submit" %>

    <% end %>
  </div>
</div>

<div id="column-2" class="column">
  <div class="module">
    <h2>Recent messages</h2>
      <div class="messages-explore-container clearfix">
        <ul id="list-messages">
          <%= render :partial=>"messages/message", :collection => @messages %>
        </ul>
      </div>
    <% #= link_to 'Add your own message', new_message_path %>
  </div>
</div>
