<div id="column-1" class="column">
  <div class="module clearfix">
    <h2><% t :get_alerts_header %> Get neighborhood SMS alerts / Obtener barrio alertas de SMS </h2>
    <p>Begin tackling safety issues in your neighborhood today. Subscribe to <strong>anonymous</strong> real-time texts from your neighbors when they notice safety threats or problems in your neighborhood.</p>
    <hr>
    <p>Suscr&#237bete a <strong>an&#243;nimos</strong> en tiempo real de SMS de sus vecinos cuando se dan cuenta de las amenazas de seguridad o problemas en su vecindario.</p>
    <%= form_for :user, :url=>create_user_path, :html=>{:class=> "subscribe-form"} do |f|%>
      <label class="phone-label">Your Phone / Tel&#233;fono (incluya el c&#243;digo de &#225;rea)</label>
      <%= f.text_field :phone, :size=>10, :class=>"phone-input" %>
      
      <label class="location-label">Your Location / Direcci&#243;n</label>
      <br/><br/>
      <%= f.text_field :location, :size=>45, :class=>"location-input" %>
      
      <div class="location-help">Enter your location; this can be your address or cross street or block number.  <strong>We will never publish your address.</strong></div>
      
      <%= f.hidden_field :lat %><%= f.hidden_field :lon %>
      <input id="user_submit" class="subscribe-submit" type="submit" value="Sign Up! / Reg&#237strate!" name="commit">

    <% end %>
  </div>
</div>

<div id="column-2" class="column">
  <div class="module">
    <h2>Get a crime report SMS</h2>
    <p>Curious what sorts of crimes have been reported lately near you? Moving to a new neighborhood and want to get a sense of how safe it is?</p> 
    <p>Just text "#crime" plus an address or intersection to <strong>1-510-221-3861</strong> and receive a summarized crime report via SMS.</p>
    <p>Note: This feature only works in Oakland so far.</p>
    <%= link_to "More useful commands / Más comandos útiles", commands_path %>
    
  </div>
  <div class="module">
    <h2>Recent messages / Mensajes recientes</h2>
      <div class="messages-explore-container clearfix">
          <div id="map-messages"></div>
        <%= link_to "See more / Ver más", messages_path %>
      </div>
    <% #= link_to 'Add your own message', new_message_path %>
  </div>
</div>
